/* define the global or root variables */
:root {
    --primarycolor: #f4040c;
    --backgroundcolor: #0f76e4;
    --primaryaccentcolor: #4F709C;
    --secondarycolor: #ee6c0f;
    --whitecolor: white;
    --blackcolor: #222222;
    --primaryFont: 'open sans',sans-serif;

    --navbarHeight: 3rem;

}

/* main css*/
body{
    background-color: var(--backgroundcolor);
    color: var(--primarycolor);
    font-family: var(--primaryFont);
}
.navigation{
    background-color: var(--whitecolor);
    height: var(--navbarHeight);
}
.logo{
    height: var(--navbarHeight);
}
.logoimage{
    height: var(--navbarHeight);
}
.contactimage{
    height: var(--navbarHeight);
    padding: 5px;
}